@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@400;700&family=Roboto&family=Source+Sans+Pro&display=swap');

$fontOne: 'Roboto', sans-serif;
$fontTwo: 'Anton', sans-serif;
$fontTree: 'Nunito', sans-serif;

$fontStyle: italic;

$textSm: 1rem;
$textSm-1: 1.5rem;
$textMd: 2rem;
$textMd-1: 2.5rem;
$textLg: 3rem;

$textBold: 700;
$textRegular: 400;
$textLight: 300;


