//vars globales

//colors
$colorPrimary: black;
$secondaryColor: yellow;
$thirdColor: white;
$fourthColor: rgb(232, 251, 54);
$fifthColor: gray;

//sizing
$w-100: 100%;
$w-50: 50%;
$p-100: 100px;
$p-50: 50px;




